.resultContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.resultbox{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.resultbox>div{
    border-radius: 1px;
    padding: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 480px){
    .resultbox{
        height: 80vh;
    }
    .resultbox>div{
        padding: 4rem 0.5rem;
        box-shadow: none;
    }
}